$topbar-height: 45px;
$topbar-bg: #fff;
$topbar-link-color: #222;

$topbar-dropdown-bg: #f2f2f2;
$topbar-link-color-hover: #222;
$topbar-link-bg-hover: #f2f2f2;

$topbar-menu-link-color: #222;
$topbar-menu-icon-color: #222;
$topbar-menu-link-color-toggled: #222;
$topbar-menu-icon-color-toggled: #222;

$tabs-navigation-bg-color: #FFF;
$tabs-navigation-border-color: #CCC;

@import "foundation/scss/foundation";


/*
 * Top bar
 */

.top-bar-container {
  border-bottom: 1px solid #999;
  box-shadow: 0px 0px 6px rgba(127, 127, 127, 0.6);
}


/*
 * Layout
 */

html {
  overflow-y: scroll;
}

.container {
  @include grid-row();
}

.content-full {
  @include grid-column(12);
}

.callout-box {
  @include panel();
}


/*
 * Code
 */

.codify {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
}

pre.codify {
  @include panel($bg:#fafafa);
  
  border-left-width: $panel-padding / 2;
  overflow-x: scroll;
}


/*
 * Tabs
 */

.tabs-content > .content {
  // TODO: there may be a better way to achieve this, but it's to ensure that
  // content doesn't widen to the width of the code block on smaller screens
  width: 100%;
}

.tabs {
  border-bottom: 1px solid $tabs-navigation-border-color;
}

.tabs dd {
  margin-bottom: -1px !important;;
}

.tabs dd a {
  margin-right: 2px;
  color: $anchor-font-color;
}

.tabs dd.active a {
  border: 1px solid $tabs-navigation-border-color;
  border-bottom-color: transparent;
  color: $tabs-navigation-font-color;
}
