$topbar-height: 45px;
$topbar-bg: #FFF;
$topbar-link-color: #222;

@import "foundation/scss/foundation";

html {
  overflow-y: scroll;
}

body {
  margin-top: 45px;
}

.top-bar-container {
  border-bottom: 1px solid #999;
  box-shadow: 0px 0px 6px rgba(127, 127, 127, 0.6);
}

.container {
  @include grid-row();
}

.content-full {
  @include grid-column(12);
}

.callout-box {
  @include panel();
}

.header * {
  display: block;
}