<div class="content-full">
  <h1>Welcome</h1>
  
  <div class="panel">
  <p>This is a demo <a href="http://en.wikipedia.org/wiki/Single-page_application">single page app</a>.</p>
  
  <ul>
    <li>It's built using <a href="http://yeoman.io/">Yeoman</a>, <a href="http://gruntjs.com/">Grunt</a>, <a href="http://bower.io/">Bower</a> and <a href="http://angularjs.org/">Angular</a>.</li>
    <li>It's styled using <a href="http://foundation.zurb.com/">Foundation</a> (so it's <a href="http://en.wikipedia.org/wiki/Responsive_web_design">responsive</a>) and <a href="http://sass-lang.com/">Sass</a>.</li>
    <li>It's unit testable, with continuous integration running on <a href="https://travis-ci.org/jbrunton/yo-test-angular">Travis</a></li>
  </ul>

  <p>For more details see the <a href="https://github.com/jbrunton/yo-test-angular">repository on Github</a>. Try it out below.</p>
  </div>

  <tabs>
    <pane title="Try it">
      <p>Here's the first sample from the Angular website:</p>

      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h3 ng-cloak>Hello {{yourName}}!</h3>
      
      <hr>
      
      <p>Here's a simple filter which returns the fibonacci number for its input:

      <table>
        <tr>
          <td width="150">fib 0</dd>
          <td width="150">{{ 0 | fib}}</td>
        </tr>
        <tr>
          <td>fib 1</dd>
          <td>{{ 1 | fib}}</td>
        </tr>
        <tr>
          <td>fib 5</dd>
          <td>{{ 5 | fib}}</td>
        </tr>
        <tr>
          <td>fib 9</dd>
          <td>{{ 9 | fib}}</td>
        </tr>
      </table>
    </pane>
    <pane title="Get it">
      <p>To run it locally, you'll need <a href="http://nodejs.org/">Node.js</a> installed.  (If you don't have it, check out the instructions on the wiki.)</p>
      <p>Then run:</p>
<pre class="codify">git clone git@github.com:jbrunton/yo-test-angular.git && cd yo-test-angular
npm install
bower install</pre>
    </pane>
    <pane title="Learn">
      <p>Bar</p>
    </pane>
  </tabs>
  
</div>
