<div class="content-full">
  <h1>Welcome</h1>
  <p>This is a demo app built using <a href="http://yeoman.io/">Yeoman</a>, <a href="http://gruntjs.com/">Grunt</a>, <a href="http://bower.io/">Bower</a>, <a href="http://angularjs.org/">Angular</a> and <a href="http://foundation.zurb.com/">Foundation</a>.</p>
  <p>For more details see the <a href="https://github.com/jbrunton/yo-test-angular">repository on Github</a>.</p>

  <p>Here's the first sample from the Angular website:</p>

  <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
  <h2 ng-cloak>Hello {{yourName}}!</h2>
</div>
